div.square {
  width: 40px;
  height:40px;
  background-color:green;
  position:fixed;
}

body {
  margin: 0;
}

.carousel {
  height: 550px;
  width: 100%;
  background-color: #eee;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.carousel-el {
  display: none;
  vertical-align: middle;
  padding: 13px;
}

.back-button {
  display: flex;
  order: 1;
}

.carousel-el.cropped-left {
  width: 10%;
  height: 500px;
  display: flex;
  overflow: hidden;
  object-fit: none;
  order: 2;
}

.carousel-el.previous {
  display: flex;
  width: 500px;
  height: 500px;
  order: 3;
}


.carousel-el.main {
  display: flex;
  width: 540px;
  height: 540px;
  order: 4;
}

.carousel-el.next {
  display: flex;
  width: 500px;
  height: 500px;
  order: 5;
}

.carousel-el.cropped-right {
  width: 10%;
  height: 500px;
  display: flex;
  overflow: hidden;
  object-fit: none;
  order: 6;
}

.forward-button {
  display: flex;
  order: 7;
}

.carousel-el.main img {
  display: block;
  height: 100%;
  width: 100%;
}

.carousel-el.next img, .carousel-el.previous img {
  display: block;
  height: 95%;
  width: 95%;
}

.carousel-el.cropped-left img, .carousel-el.cropped-right img {
  display: block;
  height: 95%;
  width: 100%;
  object-fit: cover;
}

input[type=button] {
  width: 2em;  
  height: 10em;
  padding: 40px;
}